# Environment
.env
.venv/
venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# IDE / OS
.vscode/
.DS_Store
Thumbs.db

# Project Data
00_data/
*.csv
*.parquet

# 대회 제공 TXT
[별첨1] 테이블 정의서_(데이터셋 1) 이동전화 가입자·이동 정보.xlsx
[별첨2] 테이블 정의서_(데이터셋 2) 카드 결제 정보 및 이용고객 정보.xlsx
2026 빅콘테스트 주제설명자료_260907.pdf

# Logs
*.logs
tmp/
temp/